@CHARSET "UTF-8";

/* Responsive */

@media (max-width: 479px) {
	.nav-tabs.nav-justified > li {
		display: table-cell !important;
		width: 1%;
	}
	.nav-tabs.nav-justified > li > a {
		margin-bottom: 0;
	}
	
	.nav-tabs.nav-justified > li > a {
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #fff;
	}
}

/* 460px 이하일때 */
@media (max-width: 460px) {
	.nav-tabs.nav-justified > li > a {
		font-size: 10pt !important;
	}
}

/* 455px 이하일때 */
@media (max-width: 455px) {
	#storeList1 > tr > td {
		font-size: 9pt !important;
	}
}

/* 412px 이하일때 */
@media (max-width: 412px) {
	.nav-tabs.nav-justified > li > a {
		font-size: 9pt !important;
	}
	#storeList1 > tr > td {
		font-size: 8pt !important;
	}
}

@media (min-width: 360px) {
	.nav-tabs.nav-justified > li {
		display: table-cell;
		width: 1%;
	}
	.nav-tabs.nav-justified > li > a {
		margin-bottom: 0;
	}
}

@media (min-width: 360px) {
	.nav-tabs.nav-justified > li > a {
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #fff;
	}
}

@media (min-width: 992px) {
	
	#storeDiv1 {
		width: 590px;
	}
}

 .table-bordered tr > th {
 	width : 90px
 }
 
