<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.event.dao.EventDAO">
  	
  	<sql id="selectAll">
		select no, title, writer, content, view_cnt, to_char(reg_date, 'yy-mm-dd') as reg_date
		from t_event
	</sql>
  	
  	<!-- t_board의 view_cnt와 reg_date와 BoardVO의 변수와 맞지 않으므로 mapping  -->
   	<resultMap type="eventVO" id="Map_EventVO"> 	
   		<result column="eve_no" property="no"/>
  	 	<result column="eve_title" property="title"/>
  		<result column="eve_content" property="content"/>
  		<result column="eve_filename" property="imgFileName"/>
  		<result column="eve_start" property="startDate"/>
  		<result column="eve_fin" property="endDate"/> 
  		<result column="reg_at" property="regDate"/>
  	</resultMap> 
	
  	
	
	<!-- 전체 게시글 조회 -->
	<select id="selectAllEvent" resultMap="Map_EventVO">
		select no, title, writer, content, view_cnt, to_char(reg_date, 'yy-mm-dd') as reg_date
		from t_event
		order by no desc
	</select>
	
	<!--  진행중인 이벤트 조회 -->
	
	
	
	
	
	
	<!--  종료된 이벤트 조회  -->
	
	
	
	
	
	<!-- 새글 등록  -->
	<insert id="insertEvent" parameterType="eventVO">
		
		INSERT INTO CJM.T_EVENT(EVE_NO, EVE_TITLE, EVE_CONTENT ,EVE_FILENAME, EVE_START, EVE_FIN )
					VALUES(seq_t_event_no.nextval, #{title}, #{content}, #{imgFileName}, #{startDate}, #{endDate})
	</insert>
	
	

	
	<select id="selectByNo" parameterType="int" resultMap="Map_EventVO" >
		<include refid="selectAll"/>
		where no = #{no}
	</select>
</mapper>