<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.event.dao.EventDAO">
 	
  	<sql id="selectAll">
		select no, title, writer, content, view_cnt, to_char(reg_date, 'yy-mm-dd') as reg_date
		from t_event
	</sql>
  	
  	<!-- t_board의 view_cnt와 reg_date와 BoardVO의 변수와 맞지 않으므로 mapping  -->
   	<resultMap type="eventVO" id="Map_EventVO"> 	
   		<result column="eve_no" property="no"/>
  	 	<result column="eve_title" property="title"/>
  		<result column="eve_content" property="content"/>
  		<result column="eve_filename" property="imgFileName"/>
  		<result column="eve_start" property="startDate"/>
  		<result column="eve_fin" property="endDate"/> 
  		<result column="reg_at" property="regDate"/>
  	</resultMap> 
  	
  	<resultMap type ="storeVO" id="Map_StoreVO">
  		<result column = "sto_no" property ="storeNo"/>
  		<result column = "loc_no" property = "locationNo"/>
  		<result column = "sto_name" property ="storeName"/>
  		<result column = "sto_phone" property ="storePhone"/>
  		<result column = "sto_addr" property ="storeAddr"/>
  		<result column = "reg_at" property ="regDate"/>
  	</resultMap>
  	<resultMap type = "cityVO" id="Map_CityVO">
  		<result column = "city_no" property = "cityNo"/>
  		<result column = "city_name" property = "cityName"/>
  	</resultMap>
  	<resultMap type ="locationVO" id="Map_LocationVO">
  		<result column = "loc_no" property ="locationNo"/>
  		<result column = "loc_name" property = "locationName"/> 
  			
  	</resultMap>
	
  	
	
	<!-- 진행중인 이벤트  조회 -->
	<select id="selectAllEvent" resultMap="Map_EventVO">
		SELECT EVE_NO, EVE_TITLE, EVE_CONTENT, EVE_FILENAME, TO_CHAR(EVE_START, 'YY-MM-DD') as EVE_START, TO_CHAR(EVE_FIN, 'YY-MM-DD') as EVE_FIN , TO_CHAR(REG_AT, 'YY-MM-DD') as REG_AT
		FROM T_EVENT
		where to_char( EVE_FIN, 'YY-MM-DD' ) > to_char( SYSDATE, 'YY-MM-DD')
		ORDER BY EVE_NO DESC
	</select>
	

	
	
	<!--  종료된 이벤트 조회  -->
		<select id="selectEndEvent" resultMap="Map_EventVO">
		SELECT EVE_NO, EVE_TITLE, EVE_CONTENT, EVE_FILENAME, TO_CHAR(EVE_START, 'YY-MM-DD') as EVE_START, TO_CHAR(EVE_FIN, 'YY-MM-DD') as EVE_FIN , TO_CHAR(REG_AT, 'YY-MM-DD') as REG_AT
		FROM hr.T_EVENT
		where to_char( SYSDATE, 'YY-MM-DD') > to_char( EVE_FIN, 'YY-MM-DD' )  
		ORDER BY EVE_NO DESC
	</select>
	
	<!--  시 데이터 불러오기  -->
		<select id ="selectCity" resultMap="Map_CityVO">
			SELECT CITY_NO , CITY_NAME
				FROM hr.T_CITY
				ORDER BY CITY_NO ASC			
		</select>	
		
	<!--  구 데이터 불러오기  -->	
		<select id ="selectLocation" resultType="hashmap" parameterType="String">
			SELECT LOC_NO ,LOC_NAME
			  FROM hr.T_LOCATION
			 WHERE CITY_NO = #{sido}
			 ORDER BY LOC_NO ASC
		</select>
		
	<!--  매장 데이터 불러오기  -->	
		<select id = "selectStore" resultMap="Map_StoreVO" parameterType="String">
			SELECT STO_NO, LOC_NO, STO_NAME, STO_PHONE, STO_ADDR 
			FROM hr.T_STORE
			WHERE LOC_NO = #{gugun}
			ORDER BY STO_NO ASC
		
		</select>
	
	<select id="selectByName" parameterType="String" resultMap="Map_EventVO" >
		<include refid="selectAll"/>
		where  = #{no}
	</select>
	
	
	<!-- 새글 등록  -->
	<insert id="insertEvent" parameterType="eventVO">
		
		INSERT INTO T_EVENT( EVE_NO, EVE_TITLE, EVE_CONTENT, EVE_FILENAME, EVE_START, EVE_FIN )
					VALUES(SEQ_T_EVENT_NO.NEXTVAL, #{title}, #{content},#{imgFileName}, #{startDate}, #{endDate})
	</insert>
	
	

</mapper>
