<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.dao.OrderDAO">

	<sql id = "selectAll">
		select order_no, sto_name, user_id, order_orderPrice, order_finalPrice, order_menu, 
		order_eat_type, order_payment, order_status, to_char(reg_at, 'yyyy-mm-dd hh24:mi:ss') as reg_at 
		from t_order
	</sql>

	<resultMap type ="orderVO" id="Map_OrderVO">
  		<result column = "order_no" property ="no"/>
  		<result column = "sto_name" property ="storeName"/>
  		<result column = "user_id" property ="id"/>
  		<result column = "order_orderPrice" property ="order_price"/>
  		<result column = "order_finalPrice" property ="final_price"/>
  		<result column = "order_menu" property ="menu"/>
  		<result column = "order_eat_type" property ="eatType"/>
  		<result column = "order_payment" property ="payment"/>
  		<result column = "order_status" property ="orderStatus"/>
  		<result column = "reg_at" property ="regDate"/>
  		<result column="order_num" property="num"/>
  	</resultMap>
  	
  	
  	<select id="selectAllOrder" parameterType="String" resultMap="Map_OrderVO">
		<include refid="selectAll"/>
		where sto_name = #{storeName}
		order by reg_at desc
  	</select>
 
  	<select id="selectByIdOrder" parameterType="String" resultMap="Map_OrderVO">
		<include refid="selectAll"/>
		where user_id = #{id}
		order by reg_at desc
  	</select>

  	<select id="selectByDateOrder" parameterType="String" resultMap="Map_OrderVO">
		<include refid="selectAll"/>
		where reg_at = #{date}
		order by reg_at desc
  	</select>
  	
  	<insert id="insertOrder" parameterType="orderVO">
  		insert into t_order(order_no, sto_name, user_id, order_OrderPrice, order_finalPrice, order_menu, order_EAT_TYPE, order_payment) 
  		
  		values(seq_t_order_no.nextval, #{storeName}, #{id}, #{order_price}, #{final_price}, #{menu}, #{eatType}, #{payment})
  	</insert>
  	
  	<delete id="deleteOrder" parameterType="String">
  		delete from t_order where user_id = #{id}
  	</delete>
  	
  	<!-- 비회원 주문 넣기 -->
  	<select id="noninsertOrder">
  		insert into t_order(order_no, sto_name, user_id, order_OrderPrice, order_finalPrice, order_menu, order_EAT_TYPE, order_payment, order_num) 
  		values(seq_t_order_no.nextval, #{storeName}, #{id}, #{order_price}, #{final_price}, #{menu}, #{eatType}, #{payment}, #{num} )
  	</select>
  	<!-- 비회원 주문 조회 -->
  	<select id="orderCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select COUNT(order_num) from t_order
  		where order_num = #{num}
  	</select>
  	
  	<select id="orderCheckDetail" parameterType="java.lang.String" resultMap="Map_OrderVO" >
  		<include refid="selectAll"/>
  		where order_num = #{num}
  	</select>
  	
  	<!-- 주문취소 -->
	<update id="cancelOrder" parameterType="java.util.Map">
		update t_order set order_status = 0 where order_no = #{no} and user_id = #{id}
	</update>
</mapper>