<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.dao.SnsDAO">



	<resultMap type ="snsVO" id="Map_SnsVO">
  		<result column = "sns_no" property ="no"/>
  		<result column = "user_id" property ="id"/>
  		<result column = "user_pic" property ="pic"/>
  		<result column = "sns_title" property = "title"/>
  		<result column = "sns_content" property ="content"/>
  		<result column = "sns_fileName" property ="fileName"/>
  		<result column = "menu_name" property ="name"/>
  		<result column = "menu_bread" property ="bread"/>
  		<result column = "menu_cheese" property ="cheese"/>
  		<result column = "menu_topping" property ="topping"/>
  		<result column = "menu_vegetable" property ="vegetable"/>
  		<result column = "menu_sauce" property ="sauce"/>
  		<result column = "sns_like" property ="like"/>
  		<result column = "reg_at" property ="regDate"/>
  		<result column = "view_cnt" property ="viewCnt"/>
  	</resultMap>
  	
  	
	<!-- 새글 등록  -->
	<insert id="insertSNS" parameterType="snsVO">
		
		INSERT INTO T_SNS( SNS_NO,USER_ID,USER_PIC, SNS_TITLE, SNS_CONTENT, SNS_FILENAME, MENU_NAME, MENU_BREAD, MENU_CHEESE, MENU_TOPPING, MENU_VEGETABLE, MENU_SAUCE)
					VALUES(SEQ_T_SNS_NO.NEXTVAL,#{id}, #{pic}, #{title}, #{content},#{fileName}, #{name}, #{bread}, #{cheese}, #{topping}, #{vegetable}, #{sauce})
	</insert>
  	
 	<!--  sns게시판 리스트  -->
 	<select id="selectSns" parameterType ="pagingVO" resultMap="Map_SnsVO">
 		SELECT *
			FROM( SELECT ROWNUM RNUM, P.*
			FROM( SELECT SNS_NO,USER_ID, USER_PIC, SNS_TITLE, SNS_CONTENT, SNS_FILENAME, SNS_LIKE,
					TO_CHAR(REG_AT, 'YY-MM-DD') as REG_AT, VIEW_CNT
			FROM T_SNS 
			ORDER BY SNS_NO DESC) P )
			WHERE RNUM BETWEEN #{start} AND #{last} 
 	</select>
  	
  	<!--  SNS게시판 리스트 좋아요 순  -->
	<select id = "selectHitSns" resultMap="Map_SnsVO">  		
	  	SELECT SNS_NO,USER_ID, USER_PIC, SNS_TITLE, SNS_CONTENT, SNS_FILENAME, SNS_LIKE,
						TO_CHAR(REG_AT, 'YY-MM-DD') as REG_AT, VIEW_CNT
				FROM T_SNS 
				ORDER BY SNS_LIKE DESC
  	</select>
  	
  	<!-- SNS 타입별, 좋아요 순 -->
  	<select id="selectTypeHitSns" resultMap="Map_SnsVO">
  		SELECT SNS_NO,USER_ID, USER_PIC, SNS_TITLE, SNS_CONTENT, SNS_FILENAME, SNS_LIKE,
						TO_CHAR(REG_AT, 'YY-MM-DD') as REG_AT, VIEW_CNT
				FROM T_SNS 
				WHERE MENU_NAME = #{NAME}   
				ORDER BY SNS_LIKE DESC
  	</select>

  	
  		<!--  페이징 total 쿼리 -->
	<select id ="selectTotalPaging" resultType ="java.lang.Integer">
		SELECT COUNT(*)
		FROM T_SNS
	</select>
	
	<!--  글번호로 디테일 보기  -->
		<select id="selectByNo" parameterType="int" resultMap="Map_SnsVO" >
		SELECT SNS_NO, USER_ID, USER_PIC, SNS_TITLE, SNS_CONTENT, SNS_FILENAME, MENU_NAME, MENU_BREAD, MENU_CHEESE, MENU_TOPPING, MENU_VEGETABLE, MENU_SAUCE, SNS_LIKE,
						TO_CHAR(REG_AT, 'YY-MM-DD')AS REG_AT, VIEW_CNT
		FROM T_SNS
		WHERE SNS_NO = #{no}
	</select>


  	
  <!-- 		 Notice 조회수 증가 
	<update id="updateViewcntNotice" parameterType="int">
        UPDATE t_SNS
        SET view_cnt = view_cnt + 1
        WHERE notice_no = #{no}
    </update> -->

	 		<!--   SNS 좋아요 증가--> 
	<update id="updateLikeSns" parameterType="int">
        UPDATE t_SNS
        SET SNS_LIKE = SNS_LIKE + 1
        WHERE SNS_NO = #{no}
    </update>

		<!--  게시물 수정  -->
	<update id = "updateSns" parameterType = "snsVO" >
			UPDATE T_SNS
			SET  SNS_TITLE = #{title}, SNS_CONTENT = #{content}, SNS_FILENAME = #{fileName}, MENU_NAME = #{name}, MENU_BREAD = #{bread}, MENU_CHEESE = #{cheese}, MENU_TOPPING = #{topping}, MENU_VEGETABLE = #{vegetable} , MENU_SAUCE = #{sauce}
			WHERE SNS_NO = #{no}		
	
	</update>
	
	<delete id = "deleteSns" parameterType = "int">
		DELETE T_SNS
		WHERE SNS_NO = #{no}
	
	</delete>
	
	<!-- 댓글 수 -->
	<select id="selectReplyNo" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select COUNT(*) from t_rep
		where sns_no = #{no}
	</select>  	
  	
</mapper> 	