<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	  	<typeAlias type="kr.co.bit.user.vo.UserVO" alias="userVO"/>
	  	<typeAlias type="kr.co.bit.event.vo.CityVO"  alias="cityVO"/>
	  	<typeAlias type="kr.co.bit.event.vo.locationVO"  alias="locationVO"/>
	  	<typeAlias type="kr.co.bit.event.vo.StoreVO"  alias="storeVO"/>
	  	<typeAlias type="kr.co.bit.event.vo.EventBoardVO" alias="eventVO"/>
	  	<typeAlias type="kr.co.bit.event.vo.PagingVO" alias="pagingVO"/>
	  	<typeAlias type="kr.co.bit.community.vo.QnaBoardVO" alias="qnaVO"/>
	  	<typeAlias type="kr.co.bit.community.vo.NoticeBoardVO" alias="noticeVO"/>
	  	<typeAlias type="kr.co.bit.community.vo.ClaimBoardVO" alias="claimVO"/>
	  	<typeAlias type="kr.co.bit.menu.vo.MenuVO" alias="menuVO"/>
	  	<typeAlias type="kr.co.bit.menu.vo.IngredientsVO" alias="ingVO"/>
	  	<typeAlias type="kr.co.bit.menu.vo.CartVO" alias="cartVO"/>
	  	
	</typeAliases>
</configuration>